@{
    ViewData["Title"] = "Home Page";
    ViewData["Developer"] = "MarceloLima11";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <strong>More information: </strong><a href="https://github.com/MarceloLima11/SalesWebMvc.git" rel="external" target="_blank">/@ViewData["Developer"]</a></p>
</div>
